<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>baseServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.BaseServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.LoginServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>startServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.StartLottery</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dealServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.MakeADeal</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>aboutServlet</servlet-name>
    <servlet-class>obochuk.vlad.servlets.TempServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>startServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>dealServlet</servlet-name>
    <url-pattern>/deal</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>aboutServlet</servlet-name>
    <url-pattern>/about</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>baseServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

</web-app>
